<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PIK_DB_Projects.Properties.Settings.MdmCon" connectionString="metadata=res://*/model.db.ModelDB.csdl|res://*/model.db.ModelDB.ssdl|res://*/model.db.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=MDM;persist security info=True;user id=Vildar;password=28Vildar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.SqlClient" />
    <add name="PIK_DB_Projects.Properties.Settings.InsCon" connectionString="metadata=res://*/model.ins.ModelIns.csdl|res://*/model.ins.ModelIns.ssdl|res://*/model.ins.ModelIns.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=MDM;persist security info=True;user id=Vildar;password=28Vildar;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="MDMEntities" connectionString="metadata=res://*/model.db.ModelDB.csdl|res://*/model.db.ModelDB.ssdl|res://*/model.db.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=MDM;persist security info=True;user id=Vildar;password=28Vildar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InsEntities" connectionString="metadata=res://*/model.ins.ModelIns.csdl|res://*/model.ins.ModelIns.ssdl|res://*/model.ins.ModelIns.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cad01pik;initial catalog=MDM;persist security info=True;user id=Vildar;password=28Vildar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>